@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'SourceHanSans';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url('/font/SourceHanSansSC-Regular.otf');
	}
	@font-face {
		font-family: 'Misans';
		font-style: bold;
		font-weight: 600;
		font-display: swap;
		src: url('/font/MiSans-Bold.otf');
	}
	@font-face {
		font-family: 'XinYuGongPinBoTi';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url('/font/XinYuGongPinBoTi.ttf');
	}
}
